.place-holder {
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    overflow: hidden;
}

.place-holder p {
    font-size: 22px;
    font-weight: 600;
}

.fill {
    font-size: 250px;
    height: 250px;
    width: 250px;
}

@media (max-width: 700px) {
    .fill {
        font-size: 45vw;
        height: 45vw;
        width: 45vw;
    }

    .place-holder p {
        font-size: 5vw;
    }
}

.no-result {
    color: var(--error);
}

.searching {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

/* -------- Result cards -------- */

.mat-card {
    margin: 8px 2px;
}

.mat-card-header .mat-card-title {
    font-size: 18px;
}

.mat-card-header-text {
    margin: 0;
}

.mat-card-avatar {
    height: 36px;
    width: 36px;
}

.mat-card-avatar .mat-icon {
    font-size: 36px;
}