<div class="place-holder" *ngIf="noSearch">
  <mat-icon class="fill">bubble_chart</mat-icon>
  <p>No search has been made. :|</p>
</div>
<div class="place-holder" *ngIf="searching">
  <mat-icon class="fill searching">public</mat-icon>
  <p>Searching. :)</p>
</div>
<div class="place-holder" *ngIf="!noSearch && !hasResult && !searching">
  <mat-icon class="fill">layers_clear</mat-icon>
  <p class="no-result">No result. :(</p>
</div>
<div class="result" *ngIf="!noSearch && hasResult && !searching">
  <mat-card class="example-card"*ngFor="let result of searchResults">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>place</mat-icon>
      </div>
      <mat-card-title>{{result.display_name}}</mat-card-title>
      <mat-card-subtitle>{{result.osm_id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Location information....
      </p>
    </mat-card-content>
  </mat-card>
</div>
