.menu-container {
    position: relative;
    top: 10px;
    left: 10px;
    background-color: var(--white);
    width: 35vw;
    min-width: 550px;
    max-width: 650px;
    padding: 5px;
    box-shadow: 1px 4px 8px var(--shadow);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 18px;
    max-height: 98%;
    overflow: auto;
}

@media (max-width: 700px) {
    .menu-container {
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        min-width: unset;
        max-width: unset;
    }
}

/* TEMPSTYLING BELOW */

.place-holder {
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    overflow: hidden;
}

.place-holder h3 {
    color: var(--error);
    font-size: 22px;
    font-weight: 600;
    margin: 20px;
}

.place-holder p {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray);
}

.fill {
    font-size: 180px;
    height: 180px;
    width: 180px;
}

@media (max-width: 700px) {
    .fill {
        font-size: 30vw;
        height: 30vw;
        width: 30vw;
    }

    .place-holder h3 {
        font-size: 5vw;
    }

    .place-holder p {
        font-size: 4vw;
    }
}