<div class="menu-container">
  <mat-toolbar>
    <span>Mappo</span>
  </mat-toolbar>

  <app-search></app-search>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>image_search</mat-icon>Searchresult
      </ng-template>
      <app-searchresult></app-searchresult>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>map</mat-icon>Basemap
      </ng-template>
      <app-map-settings></app-map-settings>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>layers</mat-icon>Data layers
      </ng-template>
      Datalayers inc.
    </mat-tab>

  </mat-tab-group>
</div>
