<mat-expansion-panel class="menu-container" expanded="true">
  <mat-expansion-panel-header>
    <mat-toolbar>
      <span>Mappo</span>
    </mat-toolbar>
  </mat-expansion-panel-header>

  <app-search></app-search>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>image_search</mat-icon>Searchresult
      </ng-template>
      <app-searchresult></app-searchresult>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>map</mat-icon>Basemap
      </ng-template>
      <app-map-settings></app-map-settings>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>layers</mat-icon>Data layers
      </ng-template>
      <div class="place-holder">
        <mat-icon class="fill">sentiment_dissatisfied</mat-icon>
        <h3>This feature is not yet implemented.</h3>
        <p>
          In future versions you will be able to load your own geodata here through a GUI
          and modify the layer styling.
        </p>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-expansion-panel>
