.menu-container {
    position: relative;
    top: 10px;
    left: 10px;
    background-color: var(--white);
    width: 35vw;
    min-width: 550px;
    max-width: 650px;
    padding: 5px;
    box-shadow: 1px 4px 8px var(--shadow);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 18px;
}

@media (max-width: 700px) {
    .menu-container {
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        min-width: unset;
        max-width: unset;
    }
}