.nav-item {
    padding: 1vw 1.5vw;
    flex: 1;
}

.nav-item:hover {
    color: var(--main-light);
    background-color: var(--main-dark);
    transition: ease-in-out;
    transition-duration: 0.25s;
}
