.search-container {
    flex-direction: row;
    align-items: stretch;
    padding: 0;
}

input[type="text"] {
    flex: 1;
    height: 40px;
    font-size: 22px;
    border: none;
    color: #34495e;
    outline: none;
    line-height: 1.5;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    background-color: var(--main);
    transition: background-color 0.25s ease-out;
    cursor: pointer;
}

.icon-wrapper:hover {
    background-color: var(--main-dark);
}