<div class="menu-item-container settings-container">
  <div class="settings-item">
    Show map-layer: (add toggle here)
  </div>
  <div class="settings-item">
    Layer-transparency:
  </div>
  <p class="settings-item">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat eros at rutrum laoreet.
      Vestibulum posuere orci ut posuere suscipit. Mauris porttitor luctus magna. Nunc viverra commodo
      sapien luctus venenatis. Maecenas ornare rutrum velit, ut aliquam erat efficitur nec. Integer a leo
      ipsum. Sed vel pharetra sapien, vel pretium erat.
  </p>
</div>
