/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

:root {
    /* Basics */
    --white: hsl(120, 10%, 95%);
    --light: hsl(120, 0%, 80%);
    --gray: hsl(120, 0%, 70%);

    /* App colors */
    --main: hsl(120, 58%, 30%);
    --main-light: hsl(120, 58%, 60%);
    --main-dark: hsl(120, 58%, 20%);
    --accent: #f1b646bd;
    --accent-interact: #f88d3d;

    /* Other */
    --error: hsl(0, 75%, 50%);
    --shadow: rgba(58, 103, 133, 0.5);
}

/* ============ Menu globals ========= */

.full-width {
    width: 100%;
}
